<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Facebook Login with Spring Social and Spring Boot</title>

  <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}" media="screen" />
  <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css}" media="screen" />
  <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css}" media="screen" />
  <link rel="stylesheet" th:href="@{/layout.css}" type="text/css" media="screen" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <header id="header">
          <h1>Facebook Login with Spring Social and Spring Boot</h1>
        </header>

        <section id="content" layout:fragment="content">
          Content goes here
        </section>
      </div>
    </div>
  </div>
</body>
</html>
